{% extends 'base.html.twig' %} {% block title %}Login{% endblock %} 


{% block
body %}
<div class="row">
  {% embed "partials/_card6.html.twig" %}
        {% block titulo %}Inicio de Sesion{% endblock %}
        {% block descripcion %}Bienvenido de Vuelta{% endblock %}
        {% block cuerpo %}
            <form method="post" class="forms-sample">
        {% if error %}
        <div class="alert alert-danger row">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
        <div class="form-group">
          <label for="inputEmail">Correo</label>
          <input
            type="email"
            value="{{ last_username }}"
            name="email"
            id="inputEmail"
            class="form-control"
            autocomplete="email"
            required
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="inputPassword">Contraseña</label>
          <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            autocomplete="current-password"
            required
          />
        </div>

        <input
          type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}"
        />
        <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
        <hr>
        <a
          class="text-primary text-center"
          href="{{ path('app_registration') }}"
          >No tienes cuenta Registrate</a
        >
      </form>
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
