{% extends 'base.html.twig' %} {% block title %}Login{% endblock %} 


{% block
body %}

<div class="row">
  <div class="col-sm-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Login</h4>
      <p class="card-description">Bienvenido de Nuevo</p>

      <form method="post" class="forms-sample">
        {% if error %}
        <div class="alert alert-danger row">
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}
        <div class="row form-group mb-4">
          <label for="inputEmail">Correo</label>
          <input
            type="email"
            value="{{ last_username }}"
            name="email"
            id="inputEmail"
            class="form-control"
            autocomplete="email"
            required
            autofocus
          />
        </div>
        <div class="row form-group mb-4">
          <label for="inputPassword">Contraseña</label>
          <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            autocomplete="current-password"
            required
          />
        </div>

        <div class="row mb-4">
          <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
          />
        </div>
        {# Uncomment this section and add a remember_me option below your
        firewall to activate remember me functionality. See
        https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="_remember_me" /> Remember me
          </label>
        </div>
        #}

        <div class="row mb-4">
          <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
        </div>

        <div class="row mb-4">
          <a
            class="text-primary text-center"
            href="{{ path('app_registration') }}"
            >No tienes cuenta Registrate</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

</div>
{% endblock %}
