<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ $titulo ?? "SASF" }}</h4>
      {% block contenido %}
      {% endblock %}
    </div>
  </div>
</div>
