<div class="col-sm-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        {% block titulo %}
        {% endblock %}
      </h4>
      <p class="card-description">
        {% block descripcion %}
        {% endblock %}
      </p>

      {% block cuerpo %}
      {# Cuerpo de la carta #}
      {% endblock %}
    </div>
  </div>
</div>